/Java/NetBeans/day15_01_17/nbproject/private/
/Java/NetBeans/day15_01_17/build/
/Java/NetBeans/Semi_Project/nbproject/private/
/Java/NetBeans/Semi_Project/build/
/Java/NetBeans/Semi_Project/dist/
/Java/NetBeans/dat18_01_25_jdbc/build/
/Java/NetBeans/dat18_01_25_jdbc/dist/
/Java/NetBeans/day08_gui/dist/
/Java/NetBeans/day23_01_29/build/