@charset "EUC-KR";
body{ margin: 0px; padding: 0px; text-decoration: none}
#wrap { width:800px; margin: auto;}
	#header,#footer{ width: 800px; height:100px; text-align: right;
			 background: orange;}
	ul { list-style: none; }
	#header li { display: inline;}
	#header a:link { text-decoration: none; color: #000}
	#content{ }
	#content td{ border: 1px dotted; }
	#footer li {
		display: inline;
}